/.git
!*.d.ts
/.idea
/bdsx-stub
/backups
/bedrock_server
/temp
/worlds
.eslintignore
.eslintrc.js
.gitignore
.prettierignore
.prettierrc.json
jest.config.js
package.json
package-lock.json
server.properties
tsconfig.eslint.json
tsconfig.json
